.App {
  text-align: center;
  background-color: rgb(149, 255, 0);
  min-height: 100vh;
}

Button{
  margin:10px !important;
}

.locationBox{
  text-align: center;
  margin:auto;
  max-width: 40vh;
  background-color: white;
  margin-top:20px;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: chartreuse;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
